## $progId : $semester Gemini NGO Notification
***************************************
$country ACCEPTED JOINT QUEUE PROPOSAL
$ntacRefNumber
***************************************

Program Title: $progTitle
Principal Investigator: $piName
Principal Investigator e-mail: $piMail
Gemini Program ID: $progId
Time awarded: $timeAwarded
Program Time Awarded: $programTime
Partner Calibration Time Awarded: $partnerTime
Scientific Ranking Band: $queueBand

This proposal is part of a joint program with the following components forwarded to ITAC by the National TACs:

$jointInfo

The principal investigator for this program

$piName

will be the single point of contact for Phase II preparation, archive data availability, and other queries.  The PI will receive a notification email from Gemini with instructions for retrieving the "Phase II skeleton" and completing the Phase II definitions. The Primary and Additional Support Contact information for this program will be included in that email. THE DEADLINE FOR COMPLETING THE PHASE II IS JANUARY 17 2020.

This program is shown in the public queue, and will be executed as a single entity.  The combined allocated time for this program is $timeAwarded.

The total time allocation is the sum of the following partners contributions:

$jointTimeContribs

Time used will be charged to each partner in these proportions.


ITAC FEEDBACK
-------------
The primary evaluation of proposals for scientific merit and technical feasibility is conducted by the National Time Allocation Committees (NTACs), that feedback is provided under the Partner information section below.  Any additional comments from the International Time Allocation Committee (ITAC) are given here:

$itacComments

$geminiComment


Partner/National TAC information
--------------------------------
Partner reference number: $ntacRefNumber
Partner Ranking: $ntacRanking
Partner recommended time: $ntacRecommendedTime
Partner comments (if any):
$ntacComment


********************************************************************
