## $ntacRefNumber : $semester Gemini NGO Notification
**********************************
$country UNSUCCESSFUL PROPOSAL
$ntacRefNumber
**********************************

Program Title: $progTitle
Principal Investigator: $piName
Principal Investigator e-mail: $piMail
Time Awarded: $timeAwarded

This program was not awarded time on Gemini.  Due to the pressure on
the available science time, only a subset of highly ranked programs
could be scheduled.


ITAC FEEDBACK
-------------
The primary evaluation of proposals for scientific merit and technical
feasibility is conducted by the National Time Allocation Committees (NTACs),
that feedback is shown under the Partner TAC information below.  Additional
comments from the International Time Allocation Committee (ITAC), if any,
are given here:


$itacComments

$geminiComment


Partner/National TAC information
--------------------------------
Partner reference number: $ntacRefNumber
Partner Ranking: $ntacRanking
Partner recommended time: $ntacRecommendedTime
Partner comments (if any):
$ntacComment

********************************************************************