target
.classpath
.project
.settings
.idea
**/*.swp
**/*.iml
**/*.ipr
itac-web/bin/
.idea
.metals
metals.sbt
.bloop/
project/.bloop/
.vscode

# rob's local work
work
work-old
baseline*
hawaii
2020B
*.worksheet.sc
marie
marie-old
marie-old2
sanity-check.sh
test-ws
itac-software_jun9
*.out
nov18
20220520_sandysdir
test2