partnersequence:before{
	display: table-header-group;
	font-weight:bold;
	content:"Partner Percentages";
	background:#ffffff;
}

partnersequence
{
display: table;
width: 674px;
}

partnersequence partner:nth-child(even)
{
	background:#E5ECF9;
}

partnersequence partner
{
display: table-row;
width: 100%;
}

partnersequence partner fullname
{
display: table-cell;
}
partnersequence partner absPercent
{
display: table-cell;
}

partnersequence partner absPercent:after{
	content:"%";
}

site {
    padding-right: 1em;
    visibility : hidden;
}

/* Custom Partner Sequence */

custompartnersequence:before{
	display: table-header-group;
	font-weight:bold;
	content:"Custom Partner Sequence (with nominal percentages)";
	background:#ffffff;
}

custompartnersequence
{
display: table;
width: 674px;
}

custompartnersequence partner:nth-child(even)
{
	background:#E5ECF9;
}

custompartnersequence partner
{
display: table-row;
width: 100%;
}

custompartnersequence partner fullname
{
display: table-cell;
}
custompartnersequence partner absPercent
{
display: table-cell;
}

custompartnersequence partner absPercent:after{
	content:"%";
}

td.partner-id {
    text-align: right;
}

td.used {
    text-align: right;
}

td.percent {
    text-align: right;
}

td.shortfall {
    text-align: right;
}

td.consumed {
    text-align: right;
}

#time-consumption-header-row th {
    text-align: right;
}