div#sidebar .resources a {
    display: block;
}

div#sidebar .resources a {
    display: block;
}

div#tabs div form textarea {
    width: 650px;
}

div#all-accordion div.ui-accordion-content h4 {
    display: inline;
}

div#all-accordion div.ui-accordion-content ul {
    display: inline;
}

div#all-accordion div.ui-accordion-content ul li {
    display: inline;
}

ul.proposal-header-list {
    display: inline;
}

ul.proposal-header-list li {
    display: inline;
}

ul.proposal-header-list ul {
    display: inline;
    margin-left: 0;
    padding-left: 0;
}

ul.proposal-header-list ul li {
    display: inline;
}

div#reports h3 a {
    text-decoration: none;
}

ul#log-items li textarea {
    width: 659px;
    height: 40px;
}

span.filter-control {
    padding-right: 25px;
}

span.filter-control input {
    top: 0.0em;
}

h3.box-header, h4.box-header {
    float: right;
}

li.siteQualityRadio {
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
}

tr.conditionsRow {
    border: 1px solid black;
}

label.tableForm {
    float: right;
}

.tagsList {
    font-size: smaller;

}

h3.band-1 {
    background-color: #3EA234;
}

h3.band-2 {
    background-color: #334E84;
}

h3.band-3 {
    background-color: #C67A3F;
}

h3.band-4 {
    background-color: #7B3F12;
}

ul.manual li {
    list-style-type: none;
}

ul.manual ul {
    display: inline;
    margin-left: 0;
    padding-left: 0;
}

ul.manual ul li {
    display: inline;
    list-style-type: none;
}

table.halfWidthTable {
    width: 50%;
    display: inline;
}

table.rightSide {
    width: 50%;
    display: inline;
    position: relative;
    top: -2.2em;
}

tr.hostRow {
    background-color: #d0d0d0;
}

thead {
    background-color: #feeccf;
    vertical-align: middle;
}

td.headline {
    text-align: center;
}

input.rolloverEligible {
    padding: 0;
    margin: 0 1em 0 0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
    height: 2em;
}

li.proposals {
    font-size: larger;
}

img.blackout-icon {
    top: 0.1em;
    position: relative;
    height: 1em;
    border: 0 solid #000000;
}

.nonTableForm label {
    display:block;
    font-weight:bold;
    text-align:right;
    width:140px;
    float:left;
}

.nonTableForm .small {
    color:#666666;
    display:block;
    font-size:11px;
    font-weight:normal;
    text-align:right;
    width:140px;
}

.nonTableForm input{
    float:left;
    font-size:12px;
    padding:4px 2px;
    border:solid 1px #aacfe4;
    width:200px;
    margin:2px 0 20px 10px;
}

/* For Ajax dropdown search box in forceAddList.jsp */

.suggestionsBox {
    position: relative;
    left: 30px;
    margin: 10px 0px 0px 0px;
    width: 550px;
    background-color: #212427;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border: 2px solid #000;
    color: #fff;
}

.suggestionsList {
    margin: 0px;
    padding: 0px;
}

.suggestionsList li {
    margin: 0px 0px 3px 0px;
    padding: 3px;
    cursor: pointer;
}

.suggestionsList a {
    color: #fff;
}

.suggestion:hover {
    background-color: #659CD8;
}

/* Zebra-stripe in manual rearrange page */
.manual > li:nth-of-type(2n+1) {
    background: none repeat scroll 0 0 #EEEEEE;
}

table.observation, th.observation, td.observation {
    border: 1px solid black;
}

ul#proposal-header-list {

}

ul#proposal-header-list li{
    padding: 0 0.2em 0 0.5em;
}

#message_box {
    position: absolute;
    top: 0; left: 0;
    z-index: 10;
    background:#ffc;
    padding:5px;
    border:1px solid #CCCCCC;
    text-align:center;
    font-weight:bold;
    width:99%;
}

td.label {
    text-align: right;
}

td img {
    vertical-align:text-top;
}

a span img {
    vertical-align:text-top;
}

span img {
     vertical-align:text-top;
}

#non-imported-files table, #imported-files table {
    border: 1px solid black;
}

#non-imported-files table caption, #imported-files table caption {
    border: 1px solid black;
    font-size: 1.2em;
    line-height: 2.5em;
}

#non-imported-files table th, #non-imported-files table td {
    padding: 4px 4px 4px 4px;
}

#imported-files table th, #imported-files table td {
    padding: 4px 14px 4px 4px;
}

#exchange-partner-allocation {
    border: 1px solid black;
    background-color:white;
}

#queue-time-table tbody tr:nth-child(even) td, #queue-time-table tbody tr.even td,
#queue-decision-log-b12 tbody tr:nth-child(even) td, #queue-decision-log-b12 tbody tr.even td,
#queue-decision-log-b3 tbody tr:nth-child(even) td, #queue-decision-log-b3 tbody tr.even td,
#queue-decision-log-pw tbody tr:nth-child(even) td, #queue-decision-log-pw tbody tr.even td {
    background-color:transparent;
}

#exchange-partner-allocation tr td.success {
    background-color: #E6EFC2;
    padding: 0.0em;
    margin-bottom: 0.0em;
}

#exchange-partner-allocation tr td.error {
    background-color: #FBE3E4;
    padding: 0.0em;
    margin-bottom: 0.0em;
}

#all-queues, #all-queues tr, #all-queues tr td {
    border: 1px;
    border-style:solid;
    border-color:black;
}

#all-queues tr th {
    border-bottom: 2px;
    border-right: 1px;
    border-style:solid;
    border-color:black;
}

table.partnerCharges tr th,
table.partnerCharges tr td.hours {
    text-align: center;
}

td.label {
    text-align: right;
}

#joint-queue-existing .ui-selecting,
#joint-prop-queue-existing .ui-selecting {
    background: #FECA40;
}

#joint-queue-existing .ui-selected,
#joint-prop-existing-selectable .ui-selected {
    background: #F39814;
    color: white;
}

.ui-helper-hidden-accessible {
    display: none;
}

.quanta-partners-header {
    word-wrap: break-word;
}

.readonly {
    background-color: lightgray !important;
}

.hidden {
    display: none;
}

.inline {
    display: inline;
}

.bold {
    font-weight: bold;
}

.right {
    text-align:right;
}

th.nowrap {
    white-space:nowrap;
}

td.nowrap {
    white-space:nowrap;
}