#
# Shutdown dates are configured in this text file.
#
# The format for each line is:
#
#    site start-date [end-date]
#
# where site is "GN", "N", "GS", or "S", the "end-date" is optional, and the
# date format is YYYY/MM/DD.
#
# If the end date is not specified, it is assumed to be the next day following
# the start date.  Shutdown begins on the night indicated by the start-date
# and ends on the date specified by the end-date.  Specifically, the night that
# begins on the end-date is not included in the shutdown.
#
# EXAMPLES
#
#    S 2011/05/06
#
# specifies a one night shutdown period at Gemini South that begins on May 6
# and ends May 7.
#
#    N 2011/05/06 2011/05/10
#
# specifies a 4 night shutdown.
#
# ERRORS
#
# - Shutdown dates that end before they begin generate an error.
# - Two or more shutdown periods that overlap generate an error.
#
# Shutdown dates that overlap the start/end boundaries of a semester are
# trimmed to the semester.
#